.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
.swiftpm/
.superpowers/
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
.build/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
