--indent 4
--tabwidth 4
--swiftversion 5.9
--disable redundantSelf
--enable isEmpty
--enable sortImports
--disable trailingCommas
--trimwhitespace always
--wrapcollections before-first
--maxwidth 120
--importgrouping testable-bottom
